<html ng-app="custom-webapp-ui" lang="en">
  <head>
    <!-- Load the Telegram Library and AngularJS Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
        $scope.options = [
          { name: "op_filter", value: '2FEB24',palceholder:"Spop_filter ex:2FEB24" },
          { name: "port_invest_amount", value: '10000',palceholder:"port_invest_amount (usdc) ex: 10000" },
          { name: "option_nums", value: '2',palceholder:"Split option_nums ex:2" },
          { name: "weight_type", value: '1',palceholder:"weight_type ex 1: average 2: weighted" },
          { name: "low_bound", value: '15',palceholder:"target profit lower bound ex: 15 (%)" },
          { name: "high_bound", value: '20',palceholder:"target profit higher bound ex 20 (%)" }
        ];

        const mainButton = window.Telegram.WebApp.MainButton;
        mainButton.text = "Search Positions";
        mainButton.enable();
        mainButton.show();
        mainButton.onClick(function(){
          window.Telegram.WebApp.sendData(JSON.stringify($scope.options));
        })
      });
    </script>
</head>
<body ng-controller="CustomUIController" class="bg-white p-4">
  <div ng-repeat="option in options" class="pb-12">
    <label for="{{option.name}}" class="block text-lg font-medium leading-6 text-gray-900 mb-4">{{option.name}}</label>
    <div class="grid grid-cols-1 gap-x-6 gap-y-8">
      <div class="col-span-full">
        <input type="text" ng-model="option.value" id="{{option.name}}" placeholder="{{option.placeholder}}"
               class="block w-full rounded-md border-0 py-4 px-4 text-2xl text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 leading-10">
      </div>
    </div>
  </div>        
</body>
</html>
